a {
  outline: none;
  text-decoration: none;
}
.button {
  padding: 1rem 1.5rem;
  border: 1px solid #332fd0;
  color: #332fd0;
  border-radius: 40px;
  font-size: 1.1rem;
  transition: all 500ms ease;
}

.button:hover {
  background-color: #332fd0;
  color: white;
}

@media screen and (max-width: 800px) {
  .button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }
}
@media screen and (max-width: 675px) {
  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
