.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  border-bottom: 1px solid #e6ecf8;
  width: 80%;
  margin: auto;
  position: relative;
  top: 25rem;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .courses {
    top: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .courses {
    top: 40rem;
  }
}
