.features {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6ecf8;
  background-color: white;
  border-radius: 0.5rem;
  justify-content: center;
  position: relative;
  top: 25rem;
  z-index: 20;
  width: 80%;
  margin: auto;
}
.features > div {
  border-right: 1px solid #e6ecf8;
}
.features > div:last-child {
  border: none;
}

@media screen and (max-width: 800px) {
  .features {
    flex-direction: column;
    max-width: 100%;
    top: 30rem;
  }

  .features > div {
    border-right: none;
    border-bottom: 1px solid #e6ecf8;
  }
}

@media screen and (max-width: 500px) {
  .features {
    top: 40rem;
  }
}
