.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid #e6ecf8; */
  padding-top: 35rem;
  padding-bottom: 6rem;
}

.testimonials > h2 {
  font-size: 2rem;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 500px;
  min-height: 300px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider__nav {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider__nav-dot {
  margin: 0 1rem;
  border: 2px solid #e6ecf8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.active {
  background-color: #332fd0;
  border: 1px solid #332fd0;
}

@media screen and (max-width: 550px) {
  .slider {
    width: 75%;
  }

  .slider__nav {
    margin-top: -2rem;
  }
}

@media screen and (max-width:500px) {
  .testimonials {
    padding-top: 44rem;
  }
}