@font-face {
  font-family: "Eurostile";
  font-style: normal;
  font-weight: normal;
  src: local("Eurostile"), url("./fonts/eurostile.woff") format("woff");
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Eurostile", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
