.card {
  position: relative;
  flex: 25%;
  max-width: 33%;
  margin: 0 0.5rem;
  max-height: 18rem;
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 2rem;
  background-color: rgb(32, 30, 164);
  border-radius: 1rem;
  color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s ease 0s;
  max-height: 18rem;
}
.card__inner p {
  letter-spacing: 1px;
}

.card__inner .button {
  color: white;
}

.card:hover .card__inner {
  opacity: 1;
}

.card img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1150px) {
  .card {
    flex: 50%;
    max-width: 45%;
    margin: 0;
  }

  .card__inner p {
    font-size: 1.25rem;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 675px) {
  .card {
    flex: 100%;
    max-width: 100%;
    margin: 0;
  }
  .card__inner p {
    font-size: 1rem;
}
}
