.work {
  margin-top: -3rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

.work p {
  margin: 0 1rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem;
}

@media screen and (max-width: 1150px) {
  .cards {
    justify-content: center;
    margin: 2rem 0.25rem;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 675px) {
  .cards {
    margin: 2rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .work p {
    font-size: 1rem;
  }
}
